<div style="text-align: center; margin: 1rem 0;">
    {% if page_obj.has_previous %}
    <a href="{% url 'articleapp:list' %}?page={{ page.obj.previous_page_number }}"
       class="btn btn-secondary rounded-pill">
        {{ page.obj.previous_page_number }}
    </a>
    {% endif %}
    <a href="{% url 'articleapp:list' %}?page={{ page.obj.number }}"
       class="btn btn-secondary rounded-pill active">
        {{ page.obj.pnumber }}
    </a>
    {% if page_obj.has_next %}
    <a href="{% url 'articleapp:list' %}?page={{ page.obj.next_page_number }}"
       class="btn btn-secondary rounded-pill">
        {{ page.obj.next_page_number }}
    </a>
    {% endif %}
</div>